<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.fyp.roubaisha.counter">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.REORDER_TASKS" />

    <application
        android:name="com.fyp.roubaisha.counter.prayertime.AppController"
        android:allowBackup="true"
        android:excludeFromRecents="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-3155249097775684~8391295993"/>
        <activity android:name="com.fyp.roubaisha.counter.FuzulActivity"></activity>
        <activity android:name="com.fyp.roubaisha.counter.DashboardActivity" ></activity>
        <activity
            android:name="com.fyp.roubaisha.counter.Names.MuhammadNamesActivity"
            android:parentActivityName="com.fyp.roubaisha.counter.Names.NamesOptionActivity" ></activity>
        <activity
            android:name="com.fyp.roubaisha.counter.Names.NamesOptionActivity"
            android:parentActivityName="com.fyp.roubaisha.counter.MoreActivity" />
        <activity android:name="com.fyp.roubaisha.counter.Qibla.QiblaActivity" />
        <activity android:name="com.fyp.roubaisha.counter.UserTasbih.ActPersonAdd" />
        <activity android:name="com.fyp.roubaisha.counter.UserTasbih.ActPersonDetails" />
        <activity android:name="com.fyp.roubaisha.counter.UserTasbih.ActPersonEdit" />
        <activity android:name="com.fyp.roubaisha.counter.UserTasbih.UserTasbihDetailActivity" />
        <activity android:name="com.fyp.roubaisha.counter.UserTasbih.UserTasbih" />
        <activity android:name="com.fyp.roubaisha.counter.User_Tasbih_Activity" />
        <activity android:name="com.fyp.roubaisha.counter.UserTasbihActivity" />
        <activity
            android:name="com.fyp.roubaisha.counter.TasbihOption"
            android:parentActivityName="com.fyp.roubaisha.counter.HomeActivity" ></activity>
        <activity
            android:name="com.fyp.roubaisha.counter.PendingPrayerLayerActivity"
            android:parentActivityName="com.fyp.roubaisha.counter.PendingPrayersActivity" />
        <activity
            android:name="com.fyp.roubaisha.counter.PendingPrayersActivity"
            android:parentActivityName="com.fyp.roubaisha.counter.MoreActivity" />
        <activity android:name="com.fyp.roubaisha.counter.StopAzaan" />

        <service
            android:name="com.fyp.roubaisha.counter.Services.PrayerReminderService"
            android:enabled="true"
            android:exported="true" />
        <service
            android:name="com.fyp.roubaisha.counter.Services.TravelDetectionService"
            android:enabled="true"
            android:exported="true" />
        <service android:name="com.fyp.roubaisha.counter.Services.SoundService" />

        <receiver
            android:name="com.fyp.roubaisha.counter.Services.RestartPrayerReminderService"
            android:enabled="true"
            android:exported="true"
            android:label="RestartServiceWhenStopped"
            android:permission="android.permission.RECEIVE_BOOT_COMPLETED">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="com.example.roubaisha.counter.RestartPrayerReminderService" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.fyp.roubaisha.counter.Services.RestartTravelDetectionService"
            android:enabled="true"
            android:exported="true"
            android:label="RestartServiceWhenStopped"
            android:permission="android.permission.RECEIVE_BOOT_COMPLETED">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="com.example.roubaisha.counter.RestartTravelDetectionService" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.fyp.roubaisha.counter.NotificationActionReceiver"
            android:enabled="true" />

        <activity android:name="com.fyp.roubaisha.counter.StopSound" />
        <activity android:name="com.fyp.roubaisha.counter.YesResponse" />
        <activity android:name="com.fyp.roubaisha.counter.NoResponse" />
        <activity android:name="com.fyp.roubaisha.counter.HomeActivity" />
        <activity android:name="com.fyp.roubaisha.counter.Login_Signup.Login_MainActivity" />
        <activity android:name="com.fyp.roubaisha.counter.Login_Signup.Login_form" />
        <activity android:name="com.fyp.roubaisha.counter.Login_Signup.Signup_form" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyCz4UCmnlDyHo_H_aOAF7yMrCuf0gNghdw" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity android:name="com.fyp.roubaisha.counter.SplashScreenActivity"
            android:theme="@style/AppTheme.Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.fyp.roubaisha.counter.CounterActivity" />
        <activity android:name="com.fyp.roubaisha.counter.TasbihActivity"
            android:parentActivityName="com.fyp.roubaisha.counter.TasbihOption" />
        <activity android:name="com.fyp.roubaisha.counter.MoreActivity" />
        <activity android:name="com.fyp.roubaisha.counter.GalleryActivity"
            android:parentActivityName="com.fyp.roubaisha.counter.TasbihActivity" />
        <activity
            android:name="com.fyp.roubaisha.counter.CalendarActivity"
            android:parentActivityName="com.fyp.roubaisha.counter.MoreActivity" />
        <activity
            android:name="com.fyp.roubaisha.counter.PrayerGuidance"
            android:label="@string/title_activity_prayer_guidance"
            android:parentActivityName="com.fyp.roubaisha.counter.HomeActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name="com.fyp.roubaisha.counter.Map.MapsActivity"
            android:parentActivityName="com.fyp.roubaisha.counter.MoreActivity" />
        <activity
            android:name="com.fyp.roubaisha.counter.prayertime.PrayerTimeActivity"
            android:parentActivityName="com.fyp.roubaisha.counter.MoreActivity" />
        <activity android:name="com.fyp.roubaisha.counter.MainActivity" />
        <activity
            android:name="com.fyp.roubaisha.counter.Names.AllahNamesActivity"
            android:parentActivityName="com.fyp.roubaisha.counter.Names.NamesOptionActivity" />
        <activity android:name="com.fyp.roubaisha.counter.duaen.DuaActivity"
            android:parentActivityName="com.fyp.roubaisha.counter.MoreActivity"/>
        <activity android:name="com.fyp.roubaisha.counter.duaen.MusnoonActivity"
            android:parentActivityName="com.fyp.roubaisha.counter.duaen.DuaActivity"/>
        <activity android:name="com.fyp.roubaisha.counter.duaen.MorningActivity"
            android:parentActivityName="com.fyp.roubaisha.counter.duaen.DuaActivity"/>
        <activity android:name="com.fyp.roubaisha.counter.duaen.EveningActivity"
            android:parentActivityName="com.fyp.roubaisha.counter.duaen.DuaActivity"/>
        <activity android:name="com.fyp.roubaisha.counter.duaen.BeforesActivity"
            android:parentActivityName="com.fyp.roubaisha.counter.duaen.BeforesActivity"/>
        <activity android:name="com.fyp.roubaisha.counter.duaen.AfternActivity"
            android:parentActivityName="com.fyp.roubaisha.counter.duaen.DuaActivity"/>
        <activity android:name="com.fyp.roubaisha.counter.duaen.ListItemActivity1"
            android:parentActivityName="com.fyp.roubaisha.counter.duaen.MusnoonActivity"/>
        <activity android:name="com.fyp.roubaisha.counter.duaen.ListItemActivity2"
            android:parentActivityName="com.fyp.roubaisha.counter.duaen.MusnoonActivity"/>
        <activity android:name="com.fyp.roubaisha.counter.duaen.ListItemActivity3"
            android:parentActivityName="com.fyp.roubaisha.counter.duaen.MusnoonActivity"/>
        <activity android:name="com.fyp.roubaisha.counter.duaen.ListItemActivity4"
            android:parentActivityName="com.fyp.roubaisha.counter.duaen.MusnoonActivity"/>
        <activity android:name="com.fyp.roubaisha.counter.duaen.ListItemActivity5"
            android:parentActivityName="com.fyp.roubaisha.counter.duaen.MusnoonActivity"/>
        <activity android:name="com.fyp.roubaisha.counter.duaen.ListItemActivity6"
            android:parentActivityName="com.fyp.roubaisha.counter.duaen.MusnoonActivity"/>
        <activity android:name="com.fyp.roubaisha.counter.duaen.ListItemActivity7"
            android:parentActivityName="com.fyp.roubaisha.counter.duaen.MusnoonActivity"/>
        <activity android:name="com.fyp.roubaisha.counter.duaen.ListItemActivity8"
            android:parentActivityName="com.fyp.roubaisha.counter.duaen.MusnoonActivity"/>
        <activity android:name="com.fyp.roubaisha.counter.duaen.ListItemActivity9"
            android:parentActivityName="com.fyp.roubaisha.counter.duaen.MusnoonActivity"/>
        <activity android:name="com.fyp.roubaisha.counter.duaen.ListItemActivity10"
            android:parentActivityName="com.fyp.roubaisha.counter.duaen.MusnoonActivity"/>
        <activity android:name="com.fyp.roubaisha.counter.duaen.ListItemActivity11"
            android:parentActivityName="com.fyp.roubaisha.counter.duaen.MusnoonActivity"/>
        <activity android:name="com.fyp.roubaisha.counter.duaen.ListItemActivity12"
            android:parentActivityName="com.fyp.roubaisha.counter.duaen.MusnoonActivity"/>
        <activity android:name="com.fyp.roubaisha.counter.duaen.ListItemActivity13"
            android:parentActivityName="com.fyp.roubaisha.counter.duaen.MusnoonActivity"/>
        <activity android:name="com.fyp.roubaisha.counter.duaen.ListItemActivity14"
            android:parentActivityName="com.fyp.roubaisha.counter.duaen.MusnoonActivity"/>
        <activity android:name="com.fyp.roubaisha.counter.duaen.ListItemActivity15"
            android:parentActivityName="com.fyp.roubaisha.counter.duaen.MusnoonActivity"/>
        <activity android:name="com.fyp.roubaisha.counter.duaen.ListItemActivity16"
            android:parentActivityName="com.fyp.roubaisha.counter.duaen.MusnoonActivity"/>
        <activity android:name="com.fyp.roubaisha.counter.duaen.ListItemActivity17"
            android:parentActivityName="com.fyp.roubaisha.counter.duaen.MusnoonActivity"/>
        <activity android:name="com.fyp.roubaisha.counter.duaen.ListItemActivity18"
            android:parentActivityName="com.fyp.roubaisha.counter.duaen.MusnoonActivity"/>
        <activity android:name="com.fyp.roubaisha.counter.duaen.ListItemActivity19"
            android:parentActivityName="com.fyp.roubaisha.counter.duaen.MusnoonActivity"/>
        <activity android:name="com.fyp.roubaisha.counter.duaen.ListItemActivity20"
            android:parentActivityName="com.fyp.roubaisha.counter.duaen.MusnoonActivity"/>
        <activity android:name="com.fyp.roubaisha.counter.duaen.ListItemActivity21"
            android:parentActivityName="com.fyp.roubaisha.counter.duaen.MusnoonActivity"/>
        <activity android:name="com.fyp.roubaisha.counter.duaen.ListItemActivity22"
            android:parentActivityName="com.fyp.roubaisha.counter.duaen.MusnoonActivity"/>
        <activity android:name="com.fyp.roubaisha.counter.duaen.ListItemActivity23"
            android:parentActivityName="com.fyp.roubaisha.counter.duaen.MusnoonActivity"/>
        <activity android:name="com.fyp.roubaisha.counter.duaen.ListItemActivity24"
            android:parentActivityName="com.fyp.roubaisha.counter.duaen.MusnoonActivity"/>
        <activity android:name="com.fyp.roubaisha.counter.duaen.ListItemActivity25"
            android:parentActivityName="com.fyp.roubaisha.counter.duaen.MusnoonActivity"/>
        <activity android:name="com.fyp.roubaisha.counter.duaen.ListItemActivity26"
            android:parentActivityName="com.fyp.roubaisha.counter.duaen.MusnoonActivity"/>
        <activity android:name="com.fyp.roubaisha.counter.duaen.ListItemActivity27"
            android:parentActivityName="com.fyp.roubaisha.counter.duaen.MusnoonActivity"/>
        <activity android:name="com.fyp.roubaisha.counter.duaen.ListItemActivity28"
            android:parentActivityName="com.fyp.roubaisha.counter.duaen.MusnoonActivity"/>
        <activity android:name="com.fyp.roubaisha.counter.duaen.ListItemActivity29"
            android:parentActivityName="com.fyp.roubaisha.counter.duaen.MusnoonActivity"/>
        <activity android:name="com.fyp.roubaisha.counter.duaen.ListItemActivity30"
            android:parentActivityName="com.fyp.roubaisha.counter.duaen.MusnoonActivity"/>
        <activity android:name="com.fyp.roubaisha.counter.duaen.ListItemActivity31"
            android:parentActivityName="com.fyp.roubaisha.counter.duaen.MusnoonActivity"/>
        <activity android:name="com.fyp.roubaisha.counter.duaen.ListItemActivity32"
            android:parentActivityName="com.fyp.roubaisha.counter.duaen.MusnoonActivity"/>
        <activity android:name="com.fyp.roubaisha.counter.duaen.ListItemActivity33"
            android:parentActivityName="com.fyp.roubaisha.counter.duaen.MusnoonActivity"/>
        <activity android:name="com.fyp.roubaisha.counter.duaen.ListItemActivity34"
            android:parentActivityName="com.fyp.roubaisha.counter.duaen.MusnoonActivity"/>
        <activity android:name="com.fyp.roubaisha.counter.duaen.ListItemActivity35"
            android:parentActivityName="com.fyp.roubaisha.counter.duaen.MusnoonActivity"/>
        <activity android:name="com.fyp.roubaisha.counter.duaen.ListItemActivity36"
            android:parentActivityName="com.fyp.roubaisha.counter.duaen.MusnoonActivity"/>
        <activity android:name="com.fyp.roubaisha.counter.duaen.ListItemActivity37"
            android:parentActivityName="com.fyp.roubaisha.counter.duaen.MusnoonActivity"/>
        <activity android:name="com.fyp.roubaisha.counter.duaen.ListItemActivity38"
            android:parentActivityName="com.fyp.roubaisha.counter.duaen.MusnoonActivity"/>
        <activity android:name="com.fyp.roubaisha.counter.duaen.ListItemActivity39"
            android:parentActivityName="com.fyp.roubaisha.counter.duaen.MusnoonActivity"/>
        <activity android:name="com.fyp.roubaisha.counter.duaen.ListItemActivity40"
            android:parentActivityName="com.fyp.roubaisha.counter.duaen.MusnoonActivity"/>
        <activity android:name="com.fyp.roubaisha.counter.duaen.ListItemActivity41"
            android:parentActivityName="com.fyp.roubaisha.counter.duaen.MusnoonActivity"/>

        <activity android:name="com.fyp.roubaisha.counter.activity.ScrollableTabsActivity"
            android:label="Prayer Guidance"
            android:parentActivityName="com.fyp.roubaisha.counter.MoreActivity">
        </activity>
        <activity
            android:name="com.fyp.roubaisha.counter.activity.Fajarfard"
            android:label="Fajr: 2 Rakaat Fard"
            android:parentActivityName="com.fyp.roubaisha.counter.activity.ScrollableTabsActivity" >
        </activity>
        <activity
            android:name="com.fyp.roubaisha.counter.activity.Fajrsunnah"
            android:label="Fajr: 2 Rakaat Sunnah"
            android:parentActivityName="com.fyp.roubaisha.counter.activity.ScrollableTabsActivity" >
        </activity>
        <activity
            android:name="com.fyp.roubaisha.counter.activity.Zuharsunnah"
            android:label="Duhr: 4 Rakaat Sunnah"
            android:parentActivityName="com.fyp.roubaisha.counter.activity.ScrollableTabsActivity" >
        </activity>
        <activity
            android:name="com.fyp.roubaisha.counter.activity.Zuharfard"
            android:label="Duhr: 4 Rakaat Fard"
            android:parentActivityName="com.fyp.roubaisha.counter.activity.ScrollableTabsActivity" >
        </activity>
        <activity
            android:name="com.fyp.roubaisha.counter.activity.Zuhar_sunnah"
            android:label="Duhr: 2 Rakaat Sunnah"
            android:parentActivityName="com.fyp.roubaisha.counter.activity.ScrollableTabsActivity" >
        </activity>
        <activity
            android:name="com.fyp.roubaisha.counter.activity.Zuharnafil"
            android:label="Duhr: 2 Rakaat Nafil"
            android:parentActivityName="com.fyp.roubaisha.counter.activity.ScrollableTabsActivity" >
        </activity>
        <activity
            android:name="com.fyp.roubaisha.counter.activity.Maghribfard"
            android:label="Maghrib: 3 Rakaat Fard"
            android:parentActivityName="com.fyp.roubaisha.counter.activity.ScrollableTabsActivity" >
        </activity>
        <activity
            android:name="com.fyp.roubaisha.counter.activity.Maghribsunnah"
            android:label="Maghrib: 2 Rakaat Sunnah"
            android:parentActivityName="com.fyp.roubaisha.counter.activity.ScrollableTabsActivity" >
        </activity>
        <activity
            android:name="com.fyp.roubaisha.counter.activity.Maghribnafil"
            android:label="Maghrib: 2 Rakaat Nafil"
            android:parentActivityName="com.fyp.roubaisha.counter.activity.ScrollableTabsActivity" >
        </activity>
        <activity
            android:name="com.fyp.roubaisha.counter.activity.Asrfard"
            android:label="Asr: 4 Rakaat Fard"
            android:parentActivityName="com.fyp.roubaisha.counter.activity.ScrollableTabsActivity" >
        </activity>
        <activity
            android:name="com.fyp.roubaisha.counter.activity.Asrsunnah"
            android:label="Asr: 4 Rakaat Sunnah"
            android:parentActivityName="com.fyp.roubaisha.counter.activity.ScrollableTabsActivity" >
        </activity>
        <activity
            android:name="com.fyp.roubaisha.counter.activity.Ishasunnah"
            android:label="Isha: 4 Rakaat Sunnah"
            android:parentActivityName="com.fyp.roubaisha.counter.activity.ScrollableTabsActivity" >
        </activity>
        <activity
            android:name="com.fyp.roubaisha.counter.activity.Ishafard"
            android:label="Isha: 4 Rakaat Sunnah"
            android:parentActivityName="com.fyp.roubaisha.counter.activity.ScrollableTabsActivity" >
        </activity>
        <activity
            android:name="com.fyp.roubaisha.counter.activity.Isha_sunnah"
            android:label="Isha: 2 Rakaat Sunnah"
            android:parentActivityName="com.fyp.roubaisha.counter.activity.ScrollableTabsActivity" >
        </activity>
        <activity
            android:name="com.fyp.roubaisha.counter.activity.Ishanafil"
            android:label="Isha: 2 Rakaat Nafil"
            android:parentActivityName="com.fyp.roubaisha.counter.activity.ScrollableTabsActivity" >
        </activity>
        <activity
            android:name="com.fyp.roubaisha.counter.activity.Ishawitr"
            android:label="Isha: 3 Rakaat Witr"
            android:parentActivityName="com.fyp.roubaisha.counter.activity.ScrollableTabsActivity" >
        </activity>
        <activity
            android:name="com.fyp.roubaisha.counter.activity.Isha_nafil"
            android:label="Isha: 2 Rakaat Nafil"
            android:parentActivityName="com.fyp.roubaisha.counter.activity.ScrollableTabsActivity" >
        </activity>

        <activity android:name="com.fyp.roubaisha.counter.mactivity.MScrollableTabsActivity"
            android:label="Prayer Guidance"
            android:parentActivityName="com.fyp.roubaisha.counter.MoreActivity">
        </activity>
        <activity
            android:name="com.fyp.roubaisha.counter.mactivity.MFajarfard"
            android:label="Fajr: 2 Rakaat Fard"
            android:parentActivityName="com.fyp.roubaisha.counter.mactivity.MScrollableTabsActivity" >
        </activity>
        <activity
            android:name="com.fyp.roubaisha.counter.mactivity.MFajrsunnah"
            android:label="Fajr: 2 Rakaat Sunnah"
            android:parentActivityName="com.fyp.roubaisha.counter.mactivity.MScrollableTabsActivity" >
        </activity>
        <activity
            android:name="com.fyp.roubaisha.counter.mactivity.MZuharsunnah"
            android:label="Duhr: 4 Rakaat Sunnah"
            android:parentActivityName="com.fyp.roubaisha.counter.mactivity.MScrollableTabsActivity" >
        </activity>
        <activity
            android:name="com.fyp.roubaisha.counter.mactivity.MZuharfard"
            android:label="Duhr: 4 Rakaat Fard"
            android:parentActivityName="com.fyp.roubaisha.counter.mactivity.MScrollableTabsActivity" >
        </activity>
        <activity
            android:name="com.fyp.roubaisha.counter.mactivity.MZuhar_sunnah"
            android:label="Duhr: 2 Rakaat Sunnah"
            android:parentActivityName="com.fyp.roubaisha.counter.mactivity.MScrollableTabsActivity" >
        </activity>
        <activity
            android:name="com.fyp.roubaisha.counter.mactivity.MZuharnafil"
            android:label="Duhr: 2 Rakaat Nafil"
            android:parentActivityName="com.fyp.roubaisha.counter.mactivity.MScrollableTabsActivity" >
        </activity>
        <activity
            android:name="com.fyp.roubaisha.counter.mactivity.MMaghribfard"
            android:label="Maghrib: 3 Rakaat Fard"
            android:parentActivityName="com.fyp.roubaisha.counter.mactivity.MScrollableTabsActivity"  >
        </activity>
        <activity
            android:name="com.fyp.roubaisha.counter.mactivity.MMaghribsunnah"
            android:label="Maghrib: 2 Rakaat Sunnah"
            android:parentActivityName="com.fyp.roubaisha.counter.mactivity.MScrollableTabsActivity" >
        </activity>
        <activity
            android:name="com.fyp.roubaisha.counter.mactivity.MMaghribnafil"
            android:label="Maghrib: 2 Rakaat Nafil"
            android:parentActivityName="com.fyp.roubaisha.counter.mactivity.MScrollableTabsActivity"  >
        </activity>
        <activity
            android:name="com.fyp.roubaisha.counter.mactivity.MAsrfard"
            android:label="Asr: 4 Rakaat Fard"
            android:parentActivityName="com.fyp.roubaisha.counter.mactivity.MScrollableTabsActivity" >
        </activity>
        <activity
            android:name="com.fyp.roubaisha.counter.mactivity.MAsrsunnah"
            android:label="Asr: 4 Rakaat Sunnah"
            android:parentActivityName="com.fyp.roubaisha.counter.mactivity.MScrollableTabsActivity" >
        </activity>
        <activity
            android:name="com.fyp.roubaisha.counter.mactivity.MIshasunnah"
            android:label="Isha: 4 Rakaat Sunnah"
            android:parentActivityName="com.fyp.roubaisha.counter.mactivity.MScrollableTabsActivity" >
        </activity>
        <activity
            android:name="com.fyp.roubaisha.counter.mactivity.MIshafard"
            android:label="Isha: 4 Rakaat Sunnah"
            android:parentActivityName="com.fyp.roubaisha.counter.mactivity.MScrollableTabsActivity" >
        </activity>
        <activity
            android:name="com.fyp.roubaisha.counter.mactivity.MIsha_sunnah"
            android:label="Isha: 2 Rakaat Sunnah"
            android:parentActivityName="com.fyp.roubaisha.counter.mactivity.MScrollableTabsActivity" >
        </activity>
        <activity
            android:name="com.fyp.roubaisha.counter.mactivity.MIshanafil"
            android:label="Isha: 2 Rakaat Nafil"
            android:parentActivityName="com.fyp.roubaisha.counter.mactivity.MScrollableTabsActivity" >
        </activity>
        <activity
            android:name="com.fyp.roubaisha.counter.mactivity.MIshawitr"
            android:label="Isha: 3 Rakaat Witr"
            android:parentActivityName="com.fyp.roubaisha.counter.mactivity.MScrollableTabsActivity" >
        </activity>
        <activity
            android:name="com.fyp.roubaisha.counter.mactivity.MIsha_nafil"
            android:label="Isha: 2 Rakaat Nafil"
            android:parentActivityName="com.fyp.roubaisha.counter.mactivity.MScrollableTabsActivity" >
        </activity>
        <activity android:name="com.fyp.roubaisha.counter.PrayerTimeYearActivity"
    android:label="Prayer Timing Yearly"
    android:parentActivityName="com.fyp.roubaisha.counter.prayertime.PrayerTimeActivity" />
    </application>

</manifest>